<div class="register-photo">
    <div class="form-container card">
         <div  class="form card-body">
            <div *ngIf="readerService.createbooksuccessContainerFlag" id="createbooksuccessMessageContainer">
               <p class="success-messages"> {{bookCreateSuccessMessage}}.....!!!!<br/></p>
                <a (click)='ngOnInit()' routerLink="/createbook">Click here</a> to create new books
            </div>
            <div *ngIf="readerService.createBookContainerFlag" >
            <p class="error-messages">{{createbookFailureMessage}}</p>
            <h2 class="text-center"><strong>Create</strong> a book</h2>
            <div class="form-group">
                <label><strong>Book Title</strong></label>
                <input [(ngModel)]="book.title" placeholder="Enter Book title" class="form-control" type="text" >
                <p class="error-messages"> {{blankResponse.title}}</p>
             </div>
             <div class="form-group ">
                <label><strong>Book Category</strong></label>
                <select  [(ngModel)]="book.category" placeholder="Enter Book Category"class="form-select" aria-label="Default select example">
                    <option *ngFor="let cat of obj" [ngValue]="cat">{{cat}}</option>
                </select>
                
                <p class="error-messages">{{blankResponse.category}}</p>
             </div>
             <div class="form-group ">
                <label><strong>Book Publisher</strong></label> 
                <input [(ngModel)]="book.publisher" class="form-control" type="text"  placeholder="Enter Publisher">
                 <p class="error-messages">{{blankResponse.publisher}}</p>
             </div>
             <div class="form-group ">
                <label><strong>Book Published</strong></label>
                 <input [(ngModel)]="book.publisheddate" class="form-control"  type="date" >
                <p class="error-messages">{{blankResponse.publisheddate}}</p>
            </div>
            <div class="form-group ">
                <label><strong>Book Chapters</strong></label>
                <input [(ngModel)]="book.chapters" class="form-control" type="number"  placeholder="Enter Book Chapters">
                <p class="error-messages">{{blankResponse.chapters}}</p>
            </div>
            <div class="form-group ">
                <label><strong>Book Price</strong></label>
                <input [(ngModel)]="book.price" class="form-control" type="number"  placeholder="Enter Book Price">
                <p class="error-messages">{{blankResponse.price}}</p>
            </div>
            <div class="form-group ">
                <label><strong>Book Content</strong></label>
                <input [(ngModel)]="book.content" class="form-control" type="text"  placeholder="Enter Book Content">
                <p class="error-messages">{{blankResponse.content}}</p>
            </div>
            <div class="form-group">
                <button class="button btn btn-success" (click)="createBook()">Create Book</button>
              
             </div>
        </div>
    </div>
</div>