<div *ngIf="readerService.authorBooksContainerFlag" id="authorBooksContainer">
  <h2>Welcome {{authorName}}</h2>
  <div class="rows" >
    <p class="error-messages">{{nobookFoundMessage}}</p>
    <div *ngFor="let book of authorBooks">
      <div class="column" >
        <img src="assets/book{{book.id}}.jpg" alt="No book image" width="220" height="220">
          <div style="text-align: center;font-size: small;">
          <button class="booklink btn btn-link" (click)="readBook(book)">{{book.title}}</button><br/>
            <span style="color:#163f68;">@Rs. {{book.price}} </span><br/>
            <button (click)="editbook(book)" class="btn btn-secondary">Edit Book</button> 
          </div>
      </div> 
    </div>
  </div>
</div>
  
<div *ngIf="bookcontentFlag" id="contentofbook">
  <div class="align-right" >
    <button class="btn btn-link" (click)="goBack()"> <-- Back</button>
  </div>
  <div class="bookcontent"><br/>
    <img src="assets/book{{readcontentbook.id}}.jpg">
    <h2>{{readcontentbook.title}}</h2>
    <h3>Index</h3><br/>
    <P>Chapters---------------------------------------------------------------Page No</P>
    <p>Chapter1-------------------------------------------------------------------- 1-10</p>
    <p>Chapter2------------------------------------------------------------------- 11-25</p>
    <p>Chapter3------------------------------------------------------------------- 26-40</p>
    <h2>Chapter 1</h2>
    <p>{{readcontentbook.content}}</p>
    <p>----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------</p>
    <p>----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------</p>
    <h2>Chapter 2</h2>
    <p>----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------</p>
    <p>----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------</p>
    <h2>Chapter 3</h2>
    <p>----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------</p>
    <p>----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------</p>
  </div>
</div>